:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-family: "League Spartan", sans-serif;
}

.info {
  width: 501px;
  display: inline-block;
  position: absolute;
  left: 120px;
  margin-top: 50px;
}

.rate-main {
  width: 500px;
  display: inline-block;
  position: absolute;
  left: 850px;
  margin: 100px auto auto 50px;
}

.reviews {
  position: absolute;
  left: 120px;
  top: 400px;
}

.info h1 {
  font-weight: 700;
  font-size: 15px;
  width: 400px;
  margin-bottom: 0;
  color: var(--very-dark-magenta);
}

.info p {
  width: 400px;
  color: var(--dark-grayish-magenta);
}

.rate-infos {
  background-color: var(--light-grayish-magenta);
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.rate-infos2 {
  background-color: var(--light-grayish-magenta);
  width: 350px;
  margin-bottom: 10px;
  padding: 10px;
  margin-left: 40px;
  border-radius: 10px;
}

.rate-infos3 {
  background-color: var(--light-grayish-magenta);
  width: 350px;
  padding: 10px;
  margin-left: 80px;
  border-radius: 10px;
}

.r1 {
  background-color: var(--very-dark-magenta);
  padding: 60px;
  width: 300px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

.r2 {
  background-color: var(--very-dark-magenta);
  padding: 60px;
  width: 300px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 20px;
  left: 20px;
}

.r3 {
  background-color: var(--very-dark-magenta);
  padding: 60px;
  width: 300px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 40px;
  left: 40px;
}

.p-rate {
  display: inline-block;
  position: absolute;
  margin-top: 0;
  margin-left: 30px;
  color: var(--very-dark-magenta);
}

.name {
  color: var(--white);
  display: inline-block;
  position: relative;
  bottom: 30px;
  left: 25px;
}

.buyer {
  color: var(--light-grayish-magenta);
  display: inline-block;
  position: relative;
  bottom: 10px;
  right: 65px;
}

.text-review {
  color: var(--white);
}

.buyer-img {
  border-radius: 50px;
  width: 50px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}